@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Biblioteca Gonzalo Arango</h1>
    <p class="lead text-center">Sistema de Gestión de Préstamos de Libros de la Biblioteca Municipal.</p>
    <div class="row">
        <div class="col-xs-12 col-md-1">
            <div>
                <img class="img-responsive" src="~/Images/colombia.png" alt="Alcaldía de Andes" style="float: right;" />
            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            <div>
                <img class="img-responsive" src="~/Images/Banner_superior.png" alt="Alcaldía de Andes"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Misión</h2>
        <p class="text-justify">
            La biblioteca pública municipal está comprometida con la implementación de programas
            tendientes a lograr que la comunidad en general, adquiera el hábito de la lectura y que
            cada usuario lea como mínimo seis (6) libros por año.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Objetivos</h2>
        <p class="text-justify">
           - Promocionar el hábito de la lectura.<br />
           - Apoyar la consulta de información local a los usuarios.<br />
           - Manejar la biblioteca, planear, organizar, dirigir y controlar todas las actividades técnicas de la biblioteca municipal.<br />
           - Organizar programas de lectura, tertulias literarias y actividades culturales dentro y fuera de la biblioteca.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Metas</h2>
        <p class="text-justify">
            Lograr el incremento y sostenimiento de los índices estadísticos, en lo relacionado
            con la consulta y la lectura en la biblioteca pública del municipio de Andes-Antioquia.
        </p>
    </div>
</div>